<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title> No hace falta que lo sepan </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nostros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Más info</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#graficos">Ver gráficos</a></li>
                            <li><a class="dropdown-item" href="#datos">Ver datos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#equipo">Nuestro equipo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">¿No disponible? Error 67</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
     <section id="header">
        <div class="container-header">
            <h1><span class="result">Análisis de datos</span></h1>
            <p>Todavia no tenemos tema, ayuda</p>
            <a href="#datos" class="btn-principal">Ver análisis (decime un temita)</a>
        </div>
    </section>
    <section id="team">
        <div class="container-team">
            <h2>El dream team</h2>
            <div class="container-members">
                <div class="team-members">
                    <div class="avatar">Avatar</div>
                    <p>Polo</p>
                </div>
                <div class="team-member">
                    <div class="avatar">Avatar</div>
                    <p>Pedro</p>
                </div>
                <div class="team-member">
                    <div class="avatar">Avatar</div>
                    <p>Mati</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>