<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir CSV</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">IA vs Humano</a>
    </div>
</nav>

<section id="header">
    <div class="container-header">
        <h1>Subir archivo CSV</h1>
        <p>Cargá un nuevo dataset para analizar</p>
    </div>
</section>

<section class="container">

    <div class="info-box">

        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="archivo" accept=".csv" class="form-control mb-3">

            <button type="submit" class="btn-principal">
                Subir CSV
            </button>

        </form>

    </div>

</section>

</body>
</html>